body {
  font-size:20px;
  font-family:Georgia;
  background: linear-gradient(0,green,yellow);
  width:300px;
  margin:auto;
  border-style: solid;
}

main {
  background-color: white
}

p {
display: inline-block;
}

a {
  margin-top: 20px;
  float: right;
}
a {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
a:hover {
	background-color:#5cbf2a;
}
a:active {
	position:relative;
	top:1px;
}
